* {
  user-select: none;
  box-sizing: border-box;
}

input { user-select:text; }

.title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom-right-radius: 3px;
}

.svg {
  padding: 10px;
}

svg {
  width: 100%;
  max-height: 60vh;
}

.tabular-view {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;

  display: flex;
  flex-direction: column;
}

.tabular-view .footer {
  color: #3b3b3b;
  font-size: 10pt;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.tabular-view .footer .advanced-check {
  margin-left: auto;
}

.table-container {
  flex: 1;
  overflow-y: auto;
}

h1 {
  font-size: 20pt;
}

table {
  width: 100%;
  margin-bottom: 15px;
  font-size: 10pt;
  position: relative;
  border-spacing: 0;
  border-collapse: collapse;
}

table, tr, td, th {
  border: 1px solid #eeeeee;
}

th {
  position: sticky;
  top: 0;
  background: white;
}

td, th {
  padding: 2px;
}

td {
  text-align: right;
}

td.abnormal {
  background-color: rgb(255, 214, 214);
}

.current td.abnormal {
  background-color: red;
  color: white;
}

.current {
  font-weight: bold;
}

tbody tr:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.patient {
  font-size: 60%;
}


/* Controls */
.control-container {
  display: flex;
  flex-direction: row;
}


.control {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  width: 80px;
  padding: 5px 10px;
  font-size: 11pt;
  align-items: stretch;
  position: relative;
}

.control.abnormal {
  color: white;
  background-color: red;
}

.control .key {
  text-align: left;
  font-size: 10pt;
  margin-bottom: 3px;
}

.control .value {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: stretch;
  font-weight: bold;
}

.control .value input {
  font-size: 20px;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  display: block;
  width: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: left;
  min-width: 0;
}

.control .value input:disabled {
  background: none;
  color: black;
}

.control .value.invalid input {
  color: red;
}

.control.abnormal .value input {
  color: white;
}

.control .unit {
  
  font-size: 8pt;
  height: 20px;
  text-align: right;
  margin-top: -6px;
  margin-bottom: -5px;
}

.patient-1 {
  background-color: rgb(248, 245, 214);
}

.patient-2 {
  background-color: rgb(230, 245, 241);
}

.schematic-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.schematic-container .control-container {

  border: 1px solid #a3a3a344;
  border-radius: 0px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.068);
}

.schematic-container.label-only-container {
  align-items: center;
  display: none;
}

.schematic-container .label {

  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;

  font-size: 10pt;
  background-color: rgba(255, 255, 255, 0.8);
}


.schematic-container .label div {
  width: 25px;
  height: 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #252525;
  color: white;
  margin-right: 10px;
}

.dial {
  width: 100%;
  transform: translateX(-1px);
  position: absolute;
  z-index: 50;
  top: 100%;
  left: 0;
  background-color: inherit;

  height: 0px;
  overflow: hidden;
  transition: height 0.2s;

  box-sizing: content-box;
  border-bottom: 1px solid #a3a3a344;
  border-left: 1px solid #a3a3a344;
  border-right: 1px solid #a3a3a344;
}

.control:hover .dial, .control.dial-sticky .dial {
  height: 60px;
}

.control:hover .dial.ie_ratio, .control.dial-sticky .dial.ie_ratio {
  height: 93px;
}

.dial.ie_ratio {
  display: flex;
  flex-direction: column;
}

.dial.ie_ratio .ratio {
  padding: 1px;
  margin: 1px 6px;
  border: 1px solid #474747;
  border-radius: 2px;
  font-size: 9pt;
  text-align: center;
  cursor: pointer;
}

.dial.ie_ratio .ratio:hover {
  background-color: #1717172c;
}

.dial .min, .dial .max {
  position: absolute;
  top: 40px;
  font-size: 8pt;
  font-weight: bold;
}

.dial .min {
  left: 10px;
}

.dial .max {
  right: 10px;
}

.dial .dial-control {
  position: absolute;
  top: 4px;
  left: 20px;
  transform: rotate(0deg); /* 140 deg */
  cursor: col-resize;

  width: 40px;
  height: 40px;
  background-image: url(/knob.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;

  filter: drop-shadow(0 0 3px #3535352d);
}


/* popper */

.variable-name-tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 6px 10px;
  font-size: 13pt;
  border-radius: 4px;
  max-width: 400px;
  display: none;
  z-index: 100;
}

.variable-name-tooltip .range {
  font-size: 80%;
}


.variable-name-tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

.variable-name-tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

.variable-name-tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

.variable-name-tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

.variable-name-tooltip[data-show], .variable-name-tooltip.tooltip-show {
  display: block;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

.arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #333;
}



.toolbar {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  height: 50px;

  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.toolbar .text {
  margin-left: 30px;
  padding: 5px;
  align-self: center;
}

.toolbar .buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-left: auto;
}

.toolbar .buttons .simulate {
  background-color: rgb(0, 60, 172);
  color: white;
}

.toolbar .buttons .request-solve {
  background-color: rgb(224, 224, 235);
}

.toolbar .buttons div i {
  margin-bottom: -3px;
  margin-right: 5px;
}

.toolbar .buttons div {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.toolbar .buttons div:hover {
  opacity: 0.8;
}

.container-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}

@media (max-width: 1200px) {

  svg {
    max-height: 40vh;
  }

  .schematic-container {
    transform: scale(0.8) translateX(-50px);
  }
}

@media (max-width: 900px) {

  .toolbar {
    flex-direction: column;
    height: auto;
  }

  .toolbar .buttons {
    margin-right: auto;
    height: 50px;
  }

  .schematic-container {
    transform: none;
  }

  .container-container {
    border-top: 1px solid #eeeeee;
  }
  
  .schematic-container.label-only-container {
    align-items: center;
    display: flex;
  }

  .schematic-container.entire-control-container {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: auto !important;
    height: auto !important;

    margin-right: 5px;
    margin-bottom: 5px;
    align-items: flex-start;
  }

  svg {
    max-height: none;
    height: 400px;
  }
}
